.headingMonkey {
    text-align: center;
    color: rgb(250, 143, 81);
}

.animalCardMonkey {
    border: 5px solid rgb(37, 37, 37);
    border-radius: 2em;
    margin: 10px;
    text-align: left;
    list-style-type: none;
    background-color:  #9e823b;
    flex-direction: column;
    flex: 0 0 250px;
    padding: 10px;
    width: 20em;

    .animalNameMonkey {
        font-size: 2em;
        padding: 0.5em;
        color: #c7bb54;
        text-align: center;
    }
    
    .animalCharactersMonkey {
        list-style-type: none;
        padding: 1em;
        width: 100%;
        color: #c8cacf;
    }
}
