.animalDataContainer>div {
    display: flex;
    justify-content: center;
    flex: 1;
    width: 100%;
    gap: 10px;
}


.headingBear {
    text-align: center;
    color: rgb(102, 107, 100);
}

.animalCardBear {
    border: 5px solid rgb(37, 37, 37);
    border-radius: 2em;
    margin: 10px;
    text-align: left;
    list-style-type: none;
    background-color: #405a3b;
    padding: 10px;
    width: 20em;

    .animalNameBear {
        font-size: 2em;
        padding: 0.5em;
        color: #808a84;
        text-align: center;
    }

    .animalCharactersBear {
        list-style-type: none;
        padding: 1em;
        width: 100%;
        color: #57c488;
        text-align: left;
        margin: 1px;

        .animalCharName::before,
        .animalCharLocation::before,
        .animalCharColor::before,
        .animalCharDiet::before,
        .animalCharPrey::before,
        .animalCharTemp::before,
        .animalCharDesc::before {
            padding-right: 15px;
            color: #609b5e;
            display: block;
            margin: 10px 0px 10px;
            width: 150px;
            font-size: 1, 5rem;
        }
    }

    .animalCharName::before {
        content: 'name';
    }

    .animalCharLocation::before {
        content: 'location';
    }

    .animalCharColor::before {
        content: 'color';
    }

    .animalCharDiet::before {
        content: 'diet';
    }

    .animalCharPrey::before {
        content: 'prey';
    }

    .animalCharTemp::before {
        content: 'teperament';
    }

    .animalCharDesc::before {
        content: 'description';
    }
}



@media screen and (min-width:764px) {
 
    .animalDataContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .animalDataContainer > * {
        flex: 0 0 calc(33.33% - 20px);
        margin: 10px;
      }
}